@*@using Library.Models
    @model  Book*@

@*@using Library.ViewModel
    @model BookListViewModel*@

    <h3>All Books</h3>
    Фильтр по названию
    <input class="form-control" type="text" placeholder="Название" id="search-text" onkeyup="NameSearch()">
    Фильтр по цене
    <input class="form-control" type="text" placeholder="Цена" id="price-text" onkeyup="PriceSearch()">
    Фильтр по издателю
    <input class="form-control" type="text" placeholder="Издатель" id="publish-text" onkeyup="PublisherSearch()">
    <table border="1" align="center" class="table table-striped" id="info-table">
        <tr>
            <td>
                Id
            </td>
            <td>
                Название книги
            </td>
            <td>
                Описание
            </td>
            <td>
                Цена
            </td>
            <td>
                Дата выхода
            </td>
            <td>
                Издатель
            </td>
        </tr>
        @{
            foreach (var book in Model.AllBooks)
            {
        <tr>
            <td>
                @book.BookId
            </td>
            <td>
                @book.BookName
            </td>
            <td>
                @book.Description
            </td>
            <td>
                @book.Price
            </td>
            <td>
                @book.ReleaseDate
            </td>
            <td>
                @book.Publisher
            </td>
        </tr>

            }

        }
    </table>
<script>
    function NameSearch() {
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[1].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }

    function PriceSearch() {
        var phrase = document.getElementById('price-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[3].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }

    function PublisherSearch() {
        var phrase = document.getElementById('publish-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[5].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }
</script>

    



