@*@using Library.Models
    @model  Book*@

@*@using Library.ViewModel
    @model BookListViewModel*@

    <h3>All Books</h3>
    <table border="1" align="center">
        <tr>
            <td>
                Id
            </td>
            <td>
                Название книги
            </td>
            <td>
                Описание
            </td>
            <td>
                Цена
            </td>
            <td>
                Дата выхода
            </td>
        </tr>
        @{
            foreach (var book in Model.AllBooks)
            {
        <tr>
            <td>
                @book.BookId
            </td>
            <td>
                @book.BookName
            </td>
            <td>
                @book.Description
            </td>
            <td>
                @book.Price
            </td>
            <td>
                @book.ReleaseDate
            </td>
        </tr>

            }

        }
    </table>

    



